<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.event-mapper">

	<resultMap type="EventVO" id="eventMap">
		<id column="content_id" property="content_id"/>
		<result property="cvo.title" column="title"/>
		<result property="cvo.addr1" column="addr1"/>
		<result property="cvo.addr2" column="addr2"/>
		<result property="cvo.first_image" column="first_image"/>
		<result property="cvo.first_image2" column="first_image2"/>
		<result property="cvo.tel" column="tel"/>
		<result property="cvo.cat1" column="cat1"/>
		<result property="cvo.cat2" column="cat2"/>
		<result property="cvo.cat3" column="cat3"/>
		<result property="cvo.areacode" column="areacode"/>
		<result property="cvo.sigungucode" column="sigungucode"/>
		<result property="cvo.overview" column="overview"/>
		<result property="cvo.review_count" column="review_count"/>
		<result property="cvo.mapx" column="mapx"/>
		<result property="cvo.mapy" column="mapy"/>
		<result property="dvo.info_id" column="info_id"/>
		<result property="dvo.infoname" column="infoname"/>
		<result property="dvo.infotext" column="infotext"/>
		<result property="divo.img_id" column="img_id"/>
		<result property="divo.origin_img" column="origin_img"/>
		<result property="divo.thumb_img" column="thumb_img"/>
	</resultMap>

	<resultMap type="HotelVO" id="hotelMap">
		<!-- content TABLE(cvo) -->
		<result property="cvo.title" column="title"/>
		<result property="cvo.first_image" column="first_image"/>
		<result property="cvo.cat3" column="cat3"/>
		<result property="cvo.content_id" column="content_id"/>
		<!-- hotel_room TABLE(hrvo) -->
		<result property="hrvo.offseason_minfee1" column="offseason_minfee1"/>
	</resultMap>

	<resultMap id="cartMap" type="CartVO">
		<result property="cvo.content_id" column="content_id"></result>
		<result property="cvo.title" column="title"></result>
		<result property="cvo.first_image2" column="first_image2"></result>
	</resultMap>

	<resultMap id="orderMap" type="EventOrderVO">
		<result property="cvo.content_id" column="content_id"></result>
		<result property="cvo.title" column="title"></result>
		<result property="cvo.first_image" column="first_image"></result>
		<result property="evo.dbstart" column="dbstart"></result>
		<result property="evo.dbend" column="dbend"></result>
	</resultMap>

	<select id="mainEventList" resultMap="eventMap">
		<![CDATA[
		SELECT EVENT.CONTENT_ID, title,addr1,CAT3,TO_CHAR(EVENT_STARTDATE,'YYYY.MM.DD') as dbstart,TO_CHAR(EVENT_ENDDATE,'YYYY.MM.DD') as dbend,FIRST_IMAGE,rownum
		from EVENT,CONTENT
		where event.CONTENT_ID=content.CONTENT_ID
		and EVENT_ENDDATE >= sysdate
		and CAT2='A0208'
		and rownum <6
		]]>
	</select>
	<select id="mainFesList" resultMap="eventMap">
		SELECT EVENT.CONTENT_ID,title,FIRST_IMAGE,AREACODE
		from EVENT, CONTENT
		where event.CONTENT_ID=content.CONTENT_ID
		and cat2='A0207'
		and EVENT_ENDDATE&gt;=sysdate
		and EVENT_STARTDATE&lt;=sysdate
		and rownum&lt;5
	</select>
	<select id="mainHotelList" resultMap="hotelMap" parameterType="int">
		select TITLE,OFFSEASON_MINFEE1,CAT3,FIRST_IMAGE,CONTENT_ID
		from (SELECT h.TITLE,h.OFFSEASON_MINFEE1,h.CAT3,h.FIRST_IMAGE,h.CONTENT_ID
		FROM hotel_list_view h join content c on h.CONTENT_ID=c.CONTENT_ID
		where c.areacode=#{areacode} and OFFSEASON_MINFEE1!=0
		order by OFFSEASON_MINFEE1)
		where rownum&lt;6
	</select>

	<!--검색 최대최소가격, 개수-->
	<select id="eventSearchPrice" resultType="EventVO" parameterType="hashmap">
		SELECT MAX(price) as maxprice, MIN(price) as minprice, count(*) as count FROM event_list_view
		<choose>
			<when test="key!=null">
				WHERE regexp_like(TITLE,#{key},'i')
			</when>
			<when test="areacode!=null">
				WHERE AREACODE in
				<foreach collection="areacode" item="c" separator="," open="(" close=")">
					#{c}
				</foreach>
			</when>
		</choose>
		<if test="filtermin != null">
			AND price between #{filtermin} and #{filtermax}
		</if>
		<if test="cate != null">
			AND CAT3 in
			<foreach collection="cate" item="c" separator="," open="(" close=")">
				#{c}
			</foreach>
		</if>
		<if test="enddate != null">
			and EVENT_ENDDATE >= sysdate
		</if>
	</select>
	<!--검색 리스트-->
	<select id="eventSearchList" resultMap="eventMap" parameterType="hashmap">
		SELECT content_id, TITLE, addr1, addr2, TO_CHAR(EVENT_ENDDATE,'YYYY.MM.DD') as dbend, CAT3, FIRST_IMAGE, price, num
		FROM (SELECT e.*,rownum as num
		FROM event_list_view e
		<choose>
			<when test="key!=null">
				WHERE regexp_like(TITLE,#{key},'i')
			</when>
			<when test="areacode!=null">
				WHERE AREACODE in
				<foreach collection="areacode" item="c" separator="," open="(" close=")">
					#{c}
				</foreach>
			</when>
		</choose>

		<if test="filtermin != null">
			AND price between #{filtermin} and #{filtermax}
		</if>
		<if test="cate != null">
			AND CAT3 in
			<foreach collection="cate" item="c" separator="," open="(" close=")">
				#{c}
			</foreach>
		</if>
		<if test="enddate != null">
			and EVENT_ENDDATE >= sysdate
		</if>
		)
		where num between #{start} and #{end}
	</select>
	<select id="eventDetailData" resultMap="eventMap" parameterType="int">
		SELECT e.content_id, TITLE, ADDR1, ADDR2, ZIPCODE, AREACODE, SIGUNGUCODE, MAPX, MAPY, TEL, OVERVIEW, REVIEW_COUNT, TO_CHAR(EVENT_STARTDATE,'YYYY.MM.DD') as dbstart, TO_CHAR(EVENT_ENDDATE,'YYYY.MM.DD') as dbend, CAT3, FIRST_IMAGE, SPONSOR1, SPONSOR2, PLAYTIME, CHARGE, SPENDTIME, AGELIMIT, PRICE, PRICE_INFO
		from EVENT e join CONTENT c on e.CONTENT_ID=c.CONTENT_ID
		WHERE e.CONTENT_ID=#{contid}
	</select>
	<select id="eventDetailInfo" resultMap="eventMap" parameterType="int">
		SELECT e.CONTENT_ID, INFO_ID, INFONAME, INFOTEXT FROM EVENT e join EVENT_DETAIL d ON e.CONTENT_ID=d.CONTENT_ID
		WHERE e.CONTENT_ID=#{contid}
	</select>
	<select id="eventDetailImg" resultMap="eventMap" parameterType="int">
		SELECT e.content_id, IMG_ID, ORIGIN_IMG, THUMB_IMG FROM EVENT e join DETAIL_IMAGE d ON e.CONTENT_ID=d.CONTENT_ID
		WHERE e.CONTENT_ID=#{contid}
	</select>

	<select id="eventDetailHotel" resultMap="hotelMap" parameterType="int">
		SELECT h.TITLE,h.OFFSEASON_MINFEE1,h.CAT3,h.FIRST_IMAGE,h.CONTENT_ID FROM hotel_list_view h join content c on h.CONTENT_ID=c.CONTENT_ID
		where c.areacode=#{areacode}
		and rownum&lt;6
	</select>


<!--	mypage-->
	<select id="memberDetail" resultType="MemberVO" parameterType="String">
		SELECT user_id, pwd, name, nickname, profile_img, sex, birthday, email, post, addr1, addr2, phone, admin
		FROM user_info
		WHERE user_id=#{user_id}
	</select>

	<select id="memberPwdCheck" resultType="String" parameterType="String">
		select pwd from USER_INFO
		WHERE user_id=#{user_id}
	</select>

	<update id="memberUpdate" parameterType="HashMap">
		update USER_INFO set name=#{name}, pwd=#{pwd}, NICKNAME=#{nickname}, BIRTHDAY=#{birthday}, EMAIL=#{email}, post=#{post}, ADDR1=#{addr1}, ADDR2=#{addr2}, PHONE=#{phone}
		WHERE user_id=#{user_id}
	</update>

	<delete id="memberDelete" parameterType="String">
		delete from USER_INFO where USER_ID=#{user_id}
	</delete>

<!--  cart -->
<!--	장바구니 목록 출력, 항목 하나 출력-->
	<select id="cartList" resultMap="cartMap" parameterType="HashMap">
		SELECT cno, account, cart.price, total_price, content.content_id, user_id, title, first_image2
		from cart join content on cart.content_id=content.content_id
		WHERE user_id=#{user_id}
		<if test="content_id != null">
			AND cart.content_id=#{content_id}
		</if>
	</select>
<!--	장바구니 추가-->
	<insert id="cartInsert" parameterType="HashMap">
		insert into cart (cno, account, price, total_price, content_id, user_id)
		values (cart_cno_seq.nextval, #{account}, #{price}, #{total_price}, #{content_id}, #{user_id})
	</insert>
<!--	장바구니 수량 수정-->
	<update id="cartUpdate" parameterType="HashMap">
		update cart set account=#{account}, total_price=#{total_price}
		where cno=#{cno}
	</update>
<!--	장바구니 삭제-->
	<delete id="cartDelete" parameterType="String">
		delete from cart where cno=#{cno}
	</delete>
<!--	장바구니 전체 삭제-->
	<delete id="cartDeleteAll" parameterType="String">
		delete from cart where user_id=#{user_id}
	</delete>

	<select id="eventCartCount" resultType="int">
		select eventcart_count from user_info where user_id=#{user_id}
	</select>

<!--	주문 생성-->
	<insert id="eventOrderInsert" parameterType="HashMap">
		insert into EVENT_ORDER (PAYMENT_ID,order_id, account, total_price, content_id, user_id)
		values (eo_pid_seq.nextval,#{order_id},#{account},#{total_price},#{content_id},#{user_id})
	</insert>
<!--	주문 리스트-->
	<select id="eventOrderList" parameterType="String" resultMap="orderMap">
		select PAYMENT_ID, order_id, account, total_price, c.content_id, order_date, title, to_char(EVENT_STARTDATE,'YYYY.MM.DD') as dbstart, to_char(EVENT_ENDDATE,'YYYY.MM.DD') as dbend, first_image
		from EVENT_ORDER o
		join CONTENT c on o.CONTENT_ID=c.CONTENT_ID
		join event e on o.CONTENT_ID=e.CONTENT_ID
		where USER_ID=#{user_id}
	</select>
<!--	주문 낱개 가져오기-->
	<select id="eventOrderDetail" parameterType="hashmap" resultMap="orderMap">
		select PAYMENT_ID, order_id, account, total_price, c.content_id, order_date, title, to_char(EVENT_STARTDATE,'YYYY.MM.DD') as dbstart, to_char(EVENT_ENDDATE,'YYYY.MM.DD') as dbend, first_image
		from EVENT_ORDER o
				 join CONTENT c on o.CONTENT_ID=c.CONTENT_ID
				 join event e on o.CONTENT_ID=e.CONTENT_ID
		where PAYMENT_ID =#{PAYMENT_ID} and c.CONTENT_ID=#{content_id}
	</select>

	<!--	<select id="replace_data" resultMap="eventMap">-->
	<!--		SELECT CONTENT_ID,CHARGE from event-->
	<!--	</select>-->
	<!--	<insert id="replace_execute" parameterType="hashmap">-->
	<!--		UPDATE EVENT SET price=#{price}, price_info=#{info, jdbcType=VARCHAR}-->
	<!--		WHERE content_id=#{id}-->
	<!--	</insert>-->
</mapper>