<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.event-mapper">

	<resultMap type="EventVO" id="eventMap">
		<id column="content_id" property="content_id"/>
		<result property="cvo.title" column="title"/>
		<result property="cvo.addr1" column="addr1"/>
		<result property="cvo.addr2" column="addr2"/>
		<result property="cvo.first_image" column="first_image"/>
		<result property="cvo.first_image2" column="first_image2"/>
		<result property="cvo.tel" column="tel"/>
		<result property="cvo.cat1" column="cat1"/>
		<result property="cvo.cat2" column="cat2"/>
		<result property="cvo.cat3" column="cat3"/>
		<result property="cvo.areacode" column="areacode"/>
	</resultMap>

	<select id="mainEventList" resultMap="eventMap">
		<![CDATA[
		SELECT title,addr1,CAT3,TO_CHAR(EVENT_STARTDATE,'YYYY.MM.DD') as dbstart,TO_CHAR(EVENT_ENDDATE,'YYYY.MM.DD') as dbend,FIRST_IMAGE,rownum
		from EVENT,CONTENT
		where event.CONTENT_ID=content.CONTENT_ID
		and EVENT_ENDDATE >= sysdate
		and CAT2='A0208'
		and rownum <6
		]]>
	</select>
	<select id="mainFesList" resultMap="eventMap">
		SELECT title,FIRST_IMAGE,AREACODE
		from EVENT, CONTENT
		where event.CONTENT_ID=content.CONTENT_ID
		and cat2='A0207'
		and EVENT_ENDDATE&gt;=sysdate
		and EVENT_STARTDATE&lt;=sysdate
		and rownum&lt;5
	</select>

	<!--검색 최대최소가격, 개수-->
	<select id="eventSearchPrice" resultType="EventVO" parameterType="hashmap">
		SELECT MAX(price) as maxprice, MIN(price) as minprice, count(*) as count FROM event,content
		where event.CONTENT_ID=content.CONTENT_ID
		  AND CAT2='A0208'
		  AND regexp_like(TITLE,#{key},'i')
		<if test="minprice != null">
			AND price between #{minprice} and #{maxprice}
		</if>
		<if test="cate != null">
			AND CAT3 in
			<foreach collection="cate" item="c" separator="," open="(" close=")">
				#{c}
			</foreach>
		</if>
	</select>
	<!--검색 리스트-->
	<select id="eventSearchList" resultMap="eventMap" parameterType="hashmap">
		SELECT TITLE, addr1, addr2, TO_CHAR(EVENT_ENDDATE,'YYYY.MM.DD') as dbend, CAT3, FIRST_IMAGE, price, num
		FROM (SELECT TITLE, addr1, addr2, EVENT_ENDDATE, CAT3, FIRST_IMAGE, price, rownum as num
		FROM (SELECT TITLE, addr1, addr2, EVENT_ENDDATE, CAT3, FIRST_IMAGE, price
		from EVENT,CONTENT
			  where event.CONTENT_ID=content.CONTENT_ID
				AND CAT2='A0208'
				AND regexp_like(TITLE,#{key},'i')
		<if test="minprice != null">
			AND price between #{minprice} and #{maxprice}
		</if>
		<if test="cate != null">
			AND CAT3 in
			<foreach collection="cate" item="c" separator="," open="(" close=")">
				#{c}
			</foreach>
		</if>
			  ))

		where num between #{start} and #{end}
	</select>
	<select id="replace_data" resultMap="eventMap">
		SELECT CONTENT_ID,CHARGE from event
	</select>
	<insert id="replace_execute" parameterType="hashmap">
		UPDATE EVENT SET price=#{price}, price_info=#{info, jdbcType=VARCHAR}
		WHERE content_id=#{id}
	</insert>

	<!--지역별 목록-->
	<select id="eventAreaList" resultMap="eventMap" parameterType="hashmap">
		SELECT TITLE, addr1, addr2, TO_CHAR(EVENT_ENDDATE,'YYYY.MM.DD') as dbend, CAT3, FIRST_IMAGE, price, num
		FROM (SELECT TITLE, addr1, addr2, EVENT_ENDDATE, CAT3, FIRST_IMAGE, price, rownum as num
			  FROM (SELECT TITLE, addr1, addr2, EVENT_ENDDATE, CAT3, FIRST_IMAGE, price
					from EVENT,CONTENT
					where event.CONTENT_ID=content.CONTENT_ID
					  AND CAT2='A0208'
					  AND AREACODE in (#{areacode})))
		where num between #{start} and #{end}
	</select>

</mapper>