<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.Fes-mapper">
<select id="fesMainHouseData" resultType="FesVO">
SELECT * FROM (SELECT * FROM content
      ORDER BY DBMS_RANDOM.RANDOM
    )
    WHERE rownum&lt;=1
</select>

<select id="fesMainHouseData8" resultType="FesVO">
    SELECT * FROM (SELECT * FROM content 
      ORDER BY DBMS_RANDOM.RANDOM
    )
    WHERE rownum&lt;=8
  </select>
  
<!--  축제 목록 -->
<select id="fesListData" resultType="FesVO" parameterType="hashmap">

   SELECT content_id, title, contenttype_id,first_image, addr1, tel, event_startdate, event_enddate,agelimit, num
	FROM (SELECT content_id, title, contenttype_id,first_image, addr1, tel, event_startdate, event_enddate,agelimit, rownum as num
	FROM (SELECT content.content_id, title, contenttype_id,first_image, addr1, tel, event_startdate, event_enddate,agelimit 
	FROM content, event
	WHERE content.content_id=event.content_id AND content.cat2='A0207'))
	WHERE num BETWEEN #{start} AND #{end}  
   
</select>

<select id="fesTotalPage" resultType="int">
  SELECT CEIL(COUNT(*)/12.0) 
  FROM content,event 
  WHERE content.content_id=event.content_id
  
</select>

<!--  축제 상세보기 -->
<select id="fesDetailData" resultType="FesVO" parameterType="int">
  <!-- 
  SELECT * 
  FROM content,event,event_detail,detail_image
  WHERE content.content_id=event.content_id 
  	AND content.content_id=event_detail.content_id 
  	AND content.content_id=detail_image.content_id
  	AND content.cat2='A0207'
	AND content.content_id=#{content_id}
	AND infoname='행사소개'
    -->
  SELECT *
  FROM content,event
  WHERE content.content_id=event.content_id 
  	AND content.cat2='A0207'
	AND content.content_id=#{content_id}
</select>
<select id="fesInfoData" resultType="FesVO" parameterType="int">
  SELECT * 
  FROM event_detail
  WHERE content_id=#{content_id}
</select>

<select id="fesPosterData" resultType="FesVO" parameterType="int">
  SELECT * 
  FROM detail_image
  WHERE content_id=#{content_id}
</select>
<!-- 축제 히트증가부분 추가예정 -->

  
  
<!-- 축제 검색하기 -->
<!-- 축제 검색하기 -->
<select id="fesFindData" resultType="FesVO" parameterType="hashmap">
SELECT content_id, title, addr1, addr2, zipcode, sigungucode, areacode, first_image, review_count, event_startdate, event_enddate, charge, agelimit, price, price_info, num
FROM (SELECT content_id, title, addr1, addr2, zipcode, sigungucode, areacode, first_image, review_count, event_startdate, event_enddate, charge, agelimit, price, price_info, rownum as num
FROM (SELECT content.content_id, title, addr1, addr2, zipcode, sigungucode, areacode, first_image, review_count, event_startdate, event_enddate, charge, agelimit, price, price_info
FROM content, event
WHERE content.content_id=event.content_id AND content.cat2='A0207'
 <trim prefix="AND" suffixOverrides="AND" >

	<if test="cat3List!=null" >
	  cat3 IN<foreach collection="cat3List" item="cat3" open="(" close=")" separator="," >
	    	#{cat3}      
	    </foreach>
	    AND
	</if>
	<if test="acList!=null">
	  areacode IN   <foreach collection="acList" item="ac" open="(" close=")" separator=",">
	    	${ac}      
	    </foreach>
	    AND
	 </if>
	 
</trim>
	 

))
</select>
  
</mapper> 
