<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.hotel-mapper">
	<!-- 
	<resultMap type="ContentVO" id="contentMap">
		<result property="hvo.subfacility" column="subfacility"/>
		
	</resultMap>
	 -->
	
		<!-- <id property="contentId" column="content_id"/>
		
		<association property="hvo" javaType="HotelVO">
			<result property="subFacility" column="subfacility"/>
		</association> -->
	
	<resultMap type="HotelVO" id="hotelMap">
		<result property="cvo.title" column="title"/>
		<result property="cvo.addr1" column="addr1"/>
		<result property="cvo.firstImage" column="first_image"/>
		<result property="cvo.firstImage2" column="first_image2"/>
		<result property="cvo.cat3" column="cat3"/>
	</resultMap>
	
	<select id="hotelListData" resultType="ContentVO" parameterType="hashmap">
		<!-- 
		SELECT * 
		FROM (SELECT c.content_id, title, addr1, subfacility, first_image, cat3, ROWNUM AS rnum
    		  FROM content c
    		  JOIN hotel h ON c.content_id = h.content_id
    		  WHERE addr1 LIKE '%'||#{search}||'%') 
    	WHERE rnum BETWEEN #{start} AND #{end}
    	 -->
    	SELECT content_id, title, addr1, first_image, cat3, num FROM 
		(SELECT content_id, title, addr1, first_image, cat3, rownum as num 
		FROM content 
		WHERE contenttype_id = 32 
		AND addr1 LIKE '%'||#{search}||'%') 
		WHERE num BETWEEN #{start} AND #{end} 
	</select>
	<select id="hotelTotalPage" resultType="int" parameterType="string">
		<!-- 
		SELECT CEIL(COUNT(*) / 15.0)
		FROM (SELECT c.content_id, title, addr1, subfacility, first_image, cat3
			  FROM content c
			  JOIN hotel h
			  ON c.content_id = h.content_id
			  AND addr1 LIKE '%'||#{search}||'%')
		 -->			  
		 SELECT CEIL(COUNT(*) / 15.0)
		 FROM (SELECT content_id, title, addr1, first_image, cat3
		 FROM content
		 WHERE contenttype_id = 32
		 AND addr1 LIKE '%'||#{search}||'%')
	</select>
</mapper>