<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.hotel-mapper">
	<!-- 
	<resultMap type="ContentVO" id="contentMap">
		<result property="hvo.subfacility" column="subfacility"/>
		
	</resultMap>
	 -->
	
		<!-- <id property="contentId" column="content_id"/>
		
		<association property="hvo" javaType="HotelVO">
			<result property="subFacility" column="subfacility"/>
		</association> -->
	
	<resultMap type="HotelVO" id="hotelMap">
		<result property="cvo.title" column="title"/>
		<result property="cvo.addr1" column="addr1"/>
		<result property="cvo.firstImage" column="first_image"/>
		<result property="cvo.firstImage2" column="first_image2"/>
		<result property="cvo.cat3" column="cat3"/>
	</resultMap>
	
	<!-- 이 테이블에서 LIKE '%__%' 로 검색 -->
	<select id="hotelListData" resultMap="hotelMap" parameterType="hashmap">
		SELECT title, addr1, subfacility, first_image, cat3, num
		FROM (SELECT title, addr1, subfacility, first_image, cat3, rownum as num
			  FROM content, hotel
			  WHERE content.content_id = hotel.content_id)
		WHERE num BETWEEN #{start} AND #{end}
		
	</select>
	<select id="hotelTotalPage" resultType="int">
		SELECT CEIL(COUNT(*) / 15.0) 
		FROM (SELECT title, addr1, subfacility, first_image
			FROM content, hotel
			WHERE content.content_id = hotel.content_id) list
	</select>
</mapper>