<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.sights-mapper">
	<select id="sightsMainData" resultType="SightsVO">
    SELECT * FROM (SELECT * FROM content
      ORDER BY DBMS_RANDOM.RANDOM
    )
    WHERE rownum&lt;=1
  </select>
  <select id="sightsMainData8" resultType="SightsVO">
    SELECT * FROM (SELECT * FROM content
      ORDER BY DBMS_RANDOM.RANDOM
    )
    WHERE rownum&lt;=8
  </select>
  <select id="sightsListData" resultType="SightsVO" parameterType="hashMap">
   SELECT content_id, title, contenttype_id,first_image, addr1,cat3, num
	FROM (SELECT content_id, title, contenttype_id,first_image, addr1,cat3, rownum as num
	FROM (SELECT content.content_id, title, contenttype_id,first_image, addr1,cat3  
	FROM content WHERE contenttype_id = 12 
	ORDER BY DBMS_RANDOM.VALUE ))
	WHERE num BETWEEN #{start} AND #{end}   
  </select>
  <select id="sightsTotalPage" resultType="int">
   SELECT CEIL(COUNT(*)/12.0) FROM content WHERE contenttype_id = 12 
  </select>
  <select id="sightsDetailData" resultType="SightsVO" parameterType="hashMap">
   SELECT * FROM content 
   WHERE content_id=#{content_id} 
  </select>
  <select id="sightsReviewList" resultType="SightsVO" parameterType="int">
     SELECT * FROM review
     WHERE content_id = #{content_id}
     AND type = 5 
  </select>
  <insert id="sightsReviewInsert" parameterType="ReviewVO">
    INSERT INTO review (no, content_id, type, user_id, message, regdate) 
    VALUES(rv_no_seq.nextval, #{content_id}, #{type}, #{user_id}, #{message}, SYSDATE) 
  </insert>
  <update id="sightsReviewUpdate" parameterType="hashMap">
    UPDATE review
    SET message = #{message}
    WHERE no = #{no}
  </update>
  <delete id="sightsReviewDelete">
    DELETE FROM review
    WHERE no = #{no}
  </delete>
</mapper>