<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  	<properties resource="db.properties"></properties>
  	<!-- SQL 실행 로그 출력 -->
  	
  	<settings>
        <setting name="logImpl" value="STDOUT_LOGGING"/>  
    </settings>
     
  	<typeAliases >
  		<typeAlias type="com.sist.vo.ContentVO" alias="ContentVO"/>
  		<typeAlias type="com.sist.vo.HotelVO" alias="HotelVO"/>
  		<typeAlias type="com.sist.vo.EventVO" alias="EventVO"/>
  		<typeAlias type="com.sist.vo.EventDetailVO" alias="EventDetailVO"/>
  		<typeAlias type="com.sist.vo.DetailImgVO" alias="DetailImgVO"/>
  		<typeAlias type="com.sist.vo.HotelRoomVO" alias="HotelRoomVO"/>
  		<typeAlias type="com.sist.vo.FesVO" alias="FesVO"/>
  		<typeAlias type="com.sist.vo.UserVO" alias="UserVO"/>
  		<typeAlias type="com.sist.vo.QnaVO" alias="QnaVO"/>
  		<typeAlias type="com.sist.vo.NoticeVO" alias="NoticeVO"/>
  		<typeAlias type="com.sist.vo.MemberVO" alias="MemberVO"/>
  		<typeAlias type="com.sist.vo.ReservationVO" alias="ReservationVO"/>
  		<typeAlias type="com.sist.vo.SightsVO" alias="SightsVO"/>
  		<typeAlias type="com.sist.vo.HotelDetailImgVO" alias="HotelDetailImgVO"/>
  		<typeAlias type="com.sist.vo.FoodVO" alias="FoodVO"/>
  		<typeAlias type="com.sist.vo.FesCartVO" alias="FesCartVO"/>
  		<typeAlias type="com.sist.vo.CartVO" alias="CartVO"/>
  	</typeAliases>
  	<environments default="development">
  		<environment id="development">
  			<transactionManager type="JDBC"/>
  			<dataSource type="POOLED">
  				<property name="driver" value="${driver}"/>
  				<property name="url" value="${url}"/>
  				<property name="username" value="${username}"/>
  				<property name="password" value="${password}"/>
  			</dataSource>
  		</environment>
  	</environments>
  	
  	<mappers> <!-- sql 문장 mapper 파일 -->
  		<mapper resource="com/sist/mapper/hotel-mapper.xml"/>
  		<mapper resource="com/sist/mapper/event-mapper.xml"/>
  		<mapper resource="com/sist/mapper/fes-mapper.xml"/>
  		<mapper resource="com/sist/mapper/join-mapper.xml"/>
  		<mapper resource="com/sist/mapper/qna-mapper.xml"/>
  		<mapper resource="com/sist/mapper/notice-mapper.xml"/>
  		<mapper resource="com/sist/mapper/member-mapper.xml"/>
  		<mapper resource="com/sist/mapper/reservation-mapper.xml"/>
  		<mapper resource="com/sist/mapper/sights-mapper.xml"/>
  		<mapper resource="com/sist/mapper/userfind-mapper.xml"/>
  		<mapper resource="com/sist/mapper/food-mapper.xml"/>
  	</mappers>
  </configuration>