@charset "utf-8";
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
/*  web font  */
/* focus */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus,
body:not(.user-is-tabbing) a:focus {
  outline: none;
}
/* focus */
/********** Template CSS **********/
:root {
    --primary: #1f9edd;
    --secondary: #545454;
    --light: #FDF5EB;
    --dark: #1E1916;
}
body{
	font-family:"Pretendard-Regular"!important;
}
h4,
h5,
h6,
.h4,
.h5,
.h6 {
    font-weight: 600 !important;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}


/*** Navbar ***/
body.on{
	overflow:hidden;
}
.navbar{
	border-color:#ffffff; /*transition때문에 새로고침 시 body css 노출되는 것 방지*/
}
.navbar, .navbar-collapse{
	align-items: flex-start;
}
.navbar.bg-white{
	border-bottom: 1px solid #e9e9e9;
}
.navbar >div.d-flex>div.d-flex{
	height:53px;
}
.navbar .navbar-brand{
	height: 95px;
    align-content: center;
}
.navbar h1.home{
	color:#ffffff;
    font-family: 'impact';
    font-weight: 100;
}
.navbar.bg-white h1.home{
	color:var(--primary);
}
.navbar-toggler{
	border:none;
    padding: 0.25rem 0.0rem;
}
.navbar-toggler:focus{
	box-shadow:none;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255,255,255,0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.menu-icon{
	width: 36px;
	height: 36px;
}
.i_menu {
    position: relative;
    top: calc(50% - 2px);
    left: 3px;
    width: 30px;
    height: 2px;
    line-height: 0;
    border-radius:10px;
    transition:.6s;
}
.i_menu:before{
    content:'';
    display:block;
    position: absolute;
    top: -10px;
    left: 0px;
    width: 30px;
    height: 2px;
    line-height: 0;
    border-radius:10px;
    transition:.3s;
}
.i_menu:after{
    content:'';
    display:block;
    position: absolute;
    top: 10px;
    left: 0px;
    width: 30px;
    height: 2px;
    line-height: 0;
    border-radius:10px;
    transition:.9s;
}
button[aria-expanded=true] .i_menu, button[aria-expanded=true] .i_menu:before, button[aria-expanded=true] .i_menu:after,
.bg-white .i_menu, .bg-white .i_menu:before, .bg-white .i_menu:after{
	background:var(--primary);
}
.navbar.on #nav-wide-right svg, .bg-white #nav-wide-right svg{
	fill:var(--primary);
}
.i_menu, .i_menu:before, .i_menu:after{
	background:#ffffff;
}
#nav-wide-right{
	height:95px;
	flex-wrap: nowrap;
    align-items: center;
    gap:10px;
}
#nav-wide-right>div{
	cursor:pointer;
}
#nav-wide-right svg{
	fill:#ffffff;
	width:60%;
	transition:.3s;
}
/*메인페이지에서 scroll-top일 때만*/
.navbar.on{
	background-color:rgba(255, 255, 255, 0.85);
	box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}
.navbar.on h1.home{
	color:var(--secondary);
}
.navbar.on .navbar-nav {
	background-color:transparent;
	border-top:none;
}
.navbar.on .navbar-nav .nav-link{
	color:var(--secondary);
}
/*메인페이지에서 scroll-top일 때만 end*/

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav{
	text-align:center;
}

.navbar .navbar-nav .nav-link {
	height:95px;
	padding: 0 20px;
    align-content: center;
    color: var(--light);
    outline: none;
}
.navbar.bg-white .navbar-nav .nav-link{
    color: var(--secondary);
}
.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--primary);
}

.navbar.fixed-top {
    transition: .5s;
}
.dropdown-menu{
	background:transparent;
	color:transparent;
	border:none;
}
.navbar .navbar-nav .subnav .nav-item {
    padding: 5px 0 5px 10px;
    font-size: 16px;
    height:auto;
}
@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        margin-top: 10px;
    }
	.navbar .navbar-brand{
		height:auto;
	}
    .navbar .navbar-nav .nav-link {
        padding: 10px 0;
        font-size:18px;
    }
    
	.navbar .navbar-nav .nav-link,#nav-wide-right{
		height:auto;
	}
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 100%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}

/*검색창*/

.search-wrap {
	display:none;
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.2);
    z-index: 2000;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
}
.search-inner{
    width:100%;
    background-color:#ffffff;
}
.search-header{
    display: flex;
    border-bottom: 1px solid #dddddd;
    justify-content: flex-end;
    padding: 10px 20px;
}

.closebtn{
    width:36px;
    height:36px;
    border:none;
    background:none;
    border-radius:40px;
    transform:rotate(45deg);
    vertical-align: text-top;
}
.closebtn::before{
    content:'';
    position:absolute;
    display:block;
    width:2px;
    height:30px;
    background:#707070;
    top:3px;
    left:17px;
}
.closebtn::after{
    content:'';
    position:absolute;
    display:block;
    width:30px;
    height:2px;
    background:#707070;
    top:17px;
    left:3px;
}
.center_wrap {
    margin:0 auto;
    width:100%;
    max-width:600px;
    padding: 32px 24px;
}
.sch_wrap {
    position:relative;
    display: flex;
    width: 100%;
    border:1px solid #dddddd;
    border-radius:100px;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.1);
    overflow:hidden;
    transition:.3s;
}
.sch_wrap.focus{
    border: 1px solid var(--primary);
}
.sch_wrap select, .sch_wrap input{
    height:50px;
    border: none;
    background-color:transparent;
}
.sch_wrap input[type=text]{
    width:100%;
    font-size: 18px;
    line-height: 60px;
    padding: 0 14px;
}
.sch_wrap select{
    width:90px;
    padding: 0 0 0 16px;
    font-size: 14px;
}

.sch_wrap input[type=submit]{
    width: 59px;
    min-width: auto;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.7.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2025 Fonticons, Inc.--%3E%3Cpath style='fill:%231f9edd;' d='M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z'/%3E%3C/svg%3E") no-repeat center center / 24px;
    text-indent: 200%;
    white-space: nowrap;
}

.latest_wrap{
    display:flex;
    gap: 32px 8px;
    flex-wrap: wrap;
    padding: 20px 20px 10px 20px;
    overflow: hidden;
    height: 64px;
}
.latest{
    padding: 8px 12px 8px 16px;
    background:#f2f2f2;
    border-radius:50px;
}
.latest button{
    display:inline-block;
    position:relative;
    width:18px;
    height:18px;
    border:none;
    background:#000000;
    border-radius:40px;
    transform:rotate(45deg);
    opacity:.2;
    vertical-align: text-top;
}
.latest button::before{
    content:'';
    position:absolute;
    display:block;
    width:2px;
    height:12px;
    background:#ffffff;
    top:3px;
    left:8px;
}
.latest button::after{
    content:'';
    position:absolute;
    display:block;
    width:12px;
    height:2px;
    background:#ffffff;
    top:8px;
    left:3px;
}


/*검색창 end*/

/*** Header ***/
.header-carousel .owl-carousel-inner {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    /*background: rgba(0, 0, 0, .5);*/
}
.owl-carousel-inner .container>div{
	position: absolute;
    z-index: 2;
    height: 85vh;
    min-height:600px;
    align-content: center;
}
.header-carousel .backimg{
    background:url(../img/main_visual_23.png) no-repeat center / cover;
    width: 100%;
    height: 85vh;
    min-height:600px;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 600px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 16px !important;
    }
}

.header-carousel .owl-nav {
    position: relative;
    width: 80px;
    height: 80px;
    margin: -40px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-carousel .owl-nav::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #FFFFFF;
    transform: rotate(45deg);
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    position: relative;
    font-size: 40px;
    color: var(--primary);
    transition: .5s;
    z-index: 1;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    color: var(--dark);
}

.page-header {
    margin-bottom: 6rem;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}

/*** Facts ***/
.fact-item {
    transition: .5s;
}

.fact-item:hover {
    margin-top: -10px;
    background: #FFFFFF !important;
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}


/*** About ***/
.img-twice::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    background: var(--primary);
    border: 25px solid var(--light);
    border-radius: 6px;
    z-index: -1;
}


/*** Product ***/
.product-item {
    transition: .5s;
}

.product-item:hover {
    background: var(--primary) !important;
}

.product-item:hover * {
    color: var(--light);
}

.product-item:hover .border-primary {
    border-color: var(--light) !important;
}

.product-item .product-overlay {
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, .5);
    overflow: hidden;
    opacity: 0;
    transition: .5s;
}

.product-item:hover .product-overlay {
    height: 100%;
    opacity: 1;
}


/*** Team ***/
.team-item .team-text {
    position: relative;
    height: 100px;
    overflow: hidden;
}

.team-item .team-title {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--light);
    transition: .5s;
}

.team-item:hover .team-title {
    top: -100px;
}

.team-item .team-social {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 100px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary);
    transition: .5s;
}

.team-item .team-social .btn {
    margin: 0 3px;
}

.team-item:hover .team-social {
    top: 0;
}


/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
    width: 60px;
    height: 60px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 22px;
    color: var(--light);
    background: var(--primary);
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: var(--primary);
    background: var(--dark);
}

/* index custom */
.main-slide-list{
	width:100%;
}
.item-img {
    width: 100%;
    padding-top: 130%;
    border-radius: 20px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.main-slide-list .text-wrap {
    width:100%;
    padding: 10px 0;
}
.main-slide-list .text-wrap p{
    width:100%;
    overflow:hidden;
    margin:0;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.item-inner {
    width: 100%;
}
.main-slide-list .title{
    font-size:18px;
} 
.main-slide-list .score{
    display: flex;
    align-items: center;
}
.main-slide-list .score span{
    font-size:16px;
}
.main-slide-list .score svg{
    width:16px;
}
.size-16{
    width:16px;
    height:16px;
}

.tab-nav-wrap {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    padding: 10px 0;
}

.tab-nav-item {
    padding: 8px 14px;
    border-radius: 50px;
    border: 1px solid;
    min-width: 70px;
    text-align: center;
    transition: .3s;
    cursor:pointer;
}

.tab-nav-item.active {
    background: #000000;
    color: #ffffff;
    font-weight: 600;
}
.tab-cont-item{
	display:none;
}
.tab-cont-item.active{
	display:block;
}
/* index custom */

/*** Footer ***/
.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: var(--light);
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: var(--light);
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--primary);
    letter-spacing: 1px;
    box-shadow: none;
}

.copyright {
    background: #111111;
}

.copyright a {
    color: var(--primary);
}

.copyright a:hover {
    color: var(--light);
}
body.main{
	padding-top:0!important;
}
body{
	padding-top:72px;
}
@media (min-width: 992px) { /*wide*/
	body{
		padding-top:96px;
		margin:0 auto;
		max-width:800px /*body 사이즈 최대 800px 고정*/
	}
	body.wide{
		max-width:none;
	}
}

/*search template*/
h4.search-title {
    padding: 0 10px;
    font-size: 20px;
    font-weight: 500!important;
}
h4.search-title span{
    font-weight:600!important;
}
ul.content-ul {
    list-style: none;
    padding: 0;
}

.content-ul .thumb-wrap {
    flex-shrink: 0;
    width: 160px;
    padding-top: 120px;
    background: url('../img/hotel1.jpg') no-repeat center center / cover;
    border-radius: 10px;
}

.content-ul a.d-flex {
    gap: 10px;
}

.content-ul .title-wrap {
    flex-grow: 1;
}

.content-ul .price-wrap {
    flex-shrink: 0;
    width: 20%;
    max-width: 100px;
    min-width: 80px;
}
.content-ul .d-flex.right {
    flex-grow:1;
}
.content-ul li {
    padding: 20px 10px;
    border-bottom: 1px solid #dddddd;
}

.content-ul .title-wrap p {
    margin-bottom: 0;
}
.content-ul .title-wrap p.content-name {
    margin-bottom:2px;
    font-size: 20px;
    max-height: 50px;
    line-height:1.2;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.content-ul .title-wrap p.location {
    color: #898989;
}

.content-ul .title-wrap p.location:before{
    content:'';
    display:inline-block;
    width:12px;
    height:12px;
    margin-right:2px;
    background: no-repeat center / contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='12' viewBox='0 0 10 12' fill='none'%3E%3Cg id='Group 3781'%3E%3Cpath id='Fill 1 (Stroke)' fill-rule='evenodd' clip-rule='evenodd' d='M4.79579 11.8641C4.6121 11.6862 0.300781 7.47836 0.300781 4.884C0.300781 2.22709 2.40929 0.0651245 5.00085 0.0651245C7.59241 0.0651245 9.70093 2.22709 9.70093 4.884C9.70093 7.47836 5.38961 11.6862 5.20592 11.8641C5.14843 11.9198 5.07447 11.9479 5.00085 11.9479C4.92724 11.9479 4.85328 11.9198 4.79579 11.8641ZM5.00085 10.649C4.56905 10.1989 3.91213 9.48363 3.26518 8.66173C2.73441 7.9874 2.22836 7.26384 1.85936 6.57299C1.47888 5.86066 1.30078 5.28649 1.30078 4.884C1.30078 2.75568 2.98499 1.06512 5.00085 1.06512C7.01672 1.06512 8.70093 2.75568 8.70093 4.884C8.70093 5.28649 8.52283 5.86066 8.14235 6.57299C7.77335 7.26384 7.2673 7.9874 6.73653 8.66173C6.08958 9.48363 5.43266 10.1989 5.00085 10.649ZM4.51073 11.1453C4.51054 11.1455 4.51036 11.1457 4.51018 11.1458L4.51 11.146C4.51025 11.1458 4.51049 11.1455 4.51073 11.1453Z' fill='%23666666'/%3E%3Cpath id='Fill 4 (Stroke)' fill-rule='evenodd' clip-rule='evenodd' d='M5.08875 3.47491C4.43798 3.47491 3.91016 4.00256 3.91016 4.65351C3.91016 5.30424 4.43803 5.83211 5.08875 5.83211C5.7397 5.83211 6.26735 5.30429 6.26735 4.65351C6.26735 4.00251 5.73976 3.47491 5.08875 3.47491ZM2.91016 4.65351C2.91016 3.45017 3.8858 2.47491 5.08875 2.47491C6.29204 2.47491 7.26735 3.45022 7.26735 4.65351C7.26735 5.85647 6.2921 6.83211 5.08875 6.83211C3.88575 6.83211 2.91016 5.85652 2.91016 4.65351Z' fill='%23666666'/%3E%3C/g%3E%3C/svg%3E");
}
.content-ul .title-wrap p.score:before{
    content:'';
    display:inline-block;
    width:12px;
    height:12px;
    margin-right:2px;
    background: no-repeat center / contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffbd23' d='M12.638 2.471a1.465 1.465 0 0 0-1.945.652L8.44 7.69v.002a.36.36 0 0 1-.255.191h-.002l-5.026.73c-.289.04-.61.175-.85.446a1.462 1.462 0 0 0 .033 2.037l3.647 3.557.004.003c.07.068.112.174.09.305v.001l-.86 5.007-.001.013c-.043.28.005.53.064.724l.01.035.015.033c.096.23.256.457.491.628.233.17.488.252.744.271l.028.003h.03c.203 0 .458-.031.715-.16l.007-.003 4.507-2.374.002-.001a.33.33 0 0 1 .316 0l.003.001 4.507 2.374.007.003c.259.13.586.203.926.136a1.466 1.466 0 0 0 1.18-1.663l-.862-5.02a.38.38 0 0 1 .106-.317l3.629-3.54.007-.006c.224-.224.358-.502.415-.783l.003-.017.002-.016a1.45 1.45 0 0 0-1.2-1.651l-.029-.007-5.031-.748-.008-.001a.32.32 0 0 1-.248-.185l-2.252-4.564-.002-.004a1.46 1.46 0 0 0-.655-.655z'%3E%3C/path%3E%3C/svg%3E");
}
.content-ul .title-wrap p.cat{
    margin-bottom:4px;
}
.content-ul .title-wrap p.cat span {
    font-size:14px;
    padding:4px 8px;
    color:#ffffff;
    border-radius:8px;
    margin-right:4px;
}
.content-ul .title-wrap p.cat span.event2{
    background:#f59039;
}
.content-ul .title-wrap p.cat span.event1{
    background:#2cb609;
}

.content-ul .title-wrap p.enddate{
    font-size:15px;
}

.content-ul .price-wrap p.price {
    text-align:right;
    font-weight:700;
    font-size:18px;
}
/*search template*/